
<header>
    <h1>{{title}}</h1> <!-- Paraméterként kapott szöveg felhasználása (az adott fájlban érvényes) -->

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>